# This is Git's per-user configuration file.
[user]
    name = Omii Moore
    email = qyenid@quartz.zone
    signingkey = 6872A839


[color]
    branch = always
    diff = always
    grep = always
    interactive = always
    pager = true
    showbranch = auto
    status = auto
    ui = always


[color "interactive"]
    error = red bold

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow
    frag = magenta
    old = red
    new = green
    whitespace = white reverse

[color "status"]
    added = yellow
    changed = green
    untracked = cyan
    branch = magenta


[diff]
    tool = vimdiff

[difftool]
    prompt = true

[merge]
    tool = vimdiff

[core]
    autocrlf = input
    pager = vimdiff

[push]
    default = simple

[alias]
    a = add
    c = commit -S -v
    co = checkout
    d = diff
    f = fetch
    l = log --topo-order --pretty=format:'%C(yellow)%h %C(cyan)%cn %C(blue)%cr%C(reset) %s'
    m = merge
    p = push
    r = rebase
    s = status
